body{
	font-size: 16px;
	font-family: sans-serif;
	/*background: #ccc;*/
}

a{
	transition: all 0.5s;
}

.center{
	background: #fff;
	margin: 0 auto;
	width: 900px;
	box-shadow: 0px 0px 15px #000;
}

.wrap{
	background: #fff;
	margin: 0;
	float:left;
	box-sizing: border-box;
	padding: 20px;
}

.header{
	width: 100%;
	float: left;
}

.logo img{
	width: 50px;
}

.menu{
	float:right;
}

.menu li{
	display: inline;
	font-size: 0.9em;
	float: left;
}

.menu a{
	background: #444;
	color: #eee;
	padding: 8px 12px;
	margin: 0px;
	text-decoration: none;
}

.menu a:hover{
	background: #558;
}

.content{
	width: 100%;
	float: left;
	min-height: 500px;
}

.footer{
	color: #999;
	font-size: 0.8em;
}